name: CMake on Mac/Linux/Windows platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'  # Once per day

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    strategy:
      fail-fast: false

      matrix:
        #os: [ubuntu-latest, windows-latest, macos-latest ]
        os: [ubuntu-latest]
        build_type: [Release]

    steps:
    - uses: actions/checkout@v6
    - run: |
        date > generated.txt
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m
    - uses: actions/setup-python@v6
    - run: pip install habanero PyQt5 python-poppler-qt5 feedparser         
